.stats-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    padding: 25px;
    gap: 20px;
}

.stats-header{
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 700;
}

.stats-cards-main {
    width: 100%;  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    align-items: stretch;
}

.stats-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 20px;
    gap: 8px;
    height: 100%;          
    width: 100%;           
    border: 2px solid var(--card-border);
    transition: transform 250ms ease, box-shadow 250ms ease;
}

.stats-card:hover {
    transform: translateY(-6px);
    box-shadow: gray 0px 30px 50px;
}

.stat-card-img {
    width: 46px;
    height: 46px;
    object-fit: contain;
    display: block;
}

.stat-card-name {
    color: var(--text-color);
    font-weight: 800;
    font-size: 22px;
    margin: 0;
}

.stat-card-value {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    color: var(--text2-color);
}

.stat-card-percentage {
    font-weight: 800;
    font-size: 16px;
    margin-left: auto;
}

.stat-card-percentage.trend-up {
    color: var(--success); 
}

.stat-card-percentage.trend-down {
    color: var(--error); 
}

