.activity-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    gap: 20px;
}

.activity-header{
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 700;
}

.activity-cards-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activity-card {
    display: flex;
    align-items: center;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 20px;
    gap: 8px;
    height: 100%;          
    width: 90%;           
    border: 2px solid var(--card-border);
    transition: transform 250ms ease, box-shadow 250ms ease;
}

.activity-card:hover {
  transform: translateY(-4px);
  box-shadow: gray 0px 10px 24px;
}

.activity-icon {
  width: 52px;
  height: 52px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-icon img {
  width: 34px;
  height: 34px;
  object-fit: contain;
  display: block;
}

.activity-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.activity-title {
  font-size: 18px;
  font-weight: 800;
  color: var(--text-color);
  margin: 0;
}

.activity-desc {
  font-size: 14px;
  font-weight: 500;
  color: var(--text2-color);
}

.activity-time {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color);
}

@media (max-width: 767px){
  .activity-cards-main {
    align-items: center;
    justify-content: center;
  }
}