.datatable-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    gap: 20px;
}

.datatable-header{
    color: var(--heading-color);
    font-size: 30px;
    font-weight: 700;
}

.datatable-search {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
}

.search-icon {
    position: absolute;
    color: #999;
    font-size: 20px;
    transform: translateX(50%);
    pointer-events: none;
}

.datatable-search-input {
    width: 100%;
    padding: 12px 36px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    transition: all 200ms ease;
}

.datatable-search-input::placeholder {
    color: var(--text2-color);
}

.datatable-search-input:focus {
    border-color: var(--bg2);
    box-shadow: 0 0 5px 1px gray;
}


.datatable-table-wrapper {
    max-height: 550px;
    overflow-x: auto; 
    overflow-y: auto;  
    width: 100%;
}

table{
    width: 100%;
    min-width: 900px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: var(--text3-color);
    color: var(--text4-color);
    font-size: 16px;
}

th, td{
    border-bottom: 1px solid var(--main-border);
    padding: 8px;
    white-space: normal;
    word-break: keep-all;
    overflow-wrap: break-word;
    text-align: center;
}

tr:hover{
    background-color: var(--bg2);
    cursor: pointer;
}


.datatable-status {
    padding: 8px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
}

.status-pending {
    color: var(--error);
    font-size: 14px;
    font-weight: 800;
}

.status-route { 
    color: var(--warning);
    font-size: 14px;
    font-weight: 800;
}

.status-delivered {
    color: var(--success);
    font-size: 14px;
    font-weight: 800;
}

@media (max-width: 767px){
    .datatable-search {
        width: 80%;
    }
}


