.profile-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding: 20px;
    gap: 32px;
}

.profile-top{
    display: flex;
    background-color: var(--card-bg);
    width: 95%;
    padding: 20px;
    border: 2px solid var(--card-border);
    border-radius: 34px;
    gap: 24px;
}

.profile-top-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-top-name{
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 600;
}

.profile-top-role{
    color: var(--text3-color);
    font-size: 16px;
    font-weight: 400;
}

.profile-card{
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg);
    width: 95%;
    padding: 20px;
    border: 2px solid var(--card-border);
    border-radius: 34px;
    gap: 24px;
}

.profile-card-top{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile-card-header{
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 700;
}

.profile-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    row-gap: 34px;
    width: 60%;
}

.profile-item{
    display: flex;
    flex-direction: column;
}

.profile-item-label{
    color: var(--text3-color);
    font-size: 16px;
    font-weight: 400;
}

.profile-item-value{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 529px){
    .profile-top-name{
        font-size: 18px;
    }
    .profile-top-role{
        font-size: 14px;
    }
    .profile-card-header{
        font-size: 18px;
    }
}