.home-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    gap: 60px;
}

.home-header{
    color: var(--heading-color);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.quick-action-main{
    width: 95%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.quick-action-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    box-shadow: gray 0px 4px 12px;
    min-width: 25%;
    min-height: 220px;
}

.quick-action-img{
    width: 40px;
    height: 40px;
    object-fit: contain; 
    display: block;
}

.quick-action-name{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: var(--text2-color);
}

.quick-action-desc{
    font-size: 16px;
    font-weight: 400;
    max-width: 300px;
    text-align: center;
    color: var(--text3-color);
}

.quick-action-btn {
    background-color: var(--bg2);
    color: var(--text-color);
    border: none;
    padding: 10px 18px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 10px gray;
    transition: all 0.25s ease;
    min-width: 120px;
    margin-top: 15px;
}

.quick-action-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

@media (max-width: 615px){
    .home-header{
        font-size: 30px;
    }

    .quick-action-main{
        margin-top: -20px;
    }
}
