.home-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    padding: 25px;
    gap: 20px;
}

.home-header{
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 700;
}

.quick-action-main{
    width: 100%;  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    align-items: stretch;
}

.quick-action-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--card-bg);
    padding: 18px;
    border-radius: 20px;
    gap: 8px;
    height: 100%;          
    width: 100%;           
    border: 2px solid var(--card-border);
}

.quick-action-img{
    width: 40px;
    height: 40px;
    object-fit: contain; 
    display: block;
}

.quick-action-name{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: var(--text-color);
}

.quick-action-desc{
    font-size: 16px;
    font-weight: 400;
    max-width: 300px;
    color: var(--text2-color);
    line-height: 25px;
    margin-bottom: 12px;
}

.quick-action-btn {
    background-color: var(--primary-color);
    color: var(--text4-color);
    border: none;
    padding: 10px 32px 10px 32px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    min-width: 120px;
    margin-top: auto;
    margin-left: auto;
    letter-spacing: 0.5px;
    text-shadow: 0 3px 5px gray;
    box-shadow: 0 3px 20px var(--primary-color);
}

.quick-action-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px gray;
    background-color: var(--hover);
}

.quick-action-btn:active {
  filter: brightness(0.80);
  box-shadow: 0 2px 6px gray;
  transform: translateY(1px);
}

@media (max-width: 615px){
    .home-header{
        font-size: 30px;
    }

    .quick-action-main{
        align-items: center;
        justify-content: center;
    }
}
