.chart-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    gap: 10px;
}

.chart-header{
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 700;
}

.chart-grid {
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;
    padding: 10px 10px 10px 10px;
}

.dataCard{
    background-color: var(--card-bg);
    height: 450px;
    border-radius: 30px;
    border: 3px solid var(--card-border);
    padding: 20px;
    transition: transform 250ms ease, box-shadow 250ms ease;
}

.dataCard:hover{
    transform: translateY(-6px);
    box-shadow: gray 0px 30px 50px;
}

.chart-goal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.goal-title {
  font-size: 35px;
  font-weight: 800;
  color: var(--text-color);
}

.goal-value {
  font-size: 30px;
  color: var(--text3-color);
  font-weight: 300;
}

.goal-progress-bar {
  width: 100%;
  height: 20px;
  background-color: var(--card-border);
  border-radius: 999px;
  overflow: hidden;
}

.goal-progress-fill {
  height: 100%;
  background: var(--success);
  border-radius: 999px;
}

.goal-percent {
  font-size: 18px;
  font-weight: 700;
  color: var(--success);
  margin-top: auto;
}

@media (max-width: 1023px){
    .dataCard{
        height: 250px;
    }
}


@media (max-width: 540px) {
    .chart-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .goal-title {
        font-size: 35px;
    }

    .goal-value {
        font-size: 20px;
    }

    .goal-progress-bar {
        height: 18px;
    }

    .goal-percent {
        font-size: 20px;
    }
}

