.chart-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    gap: 30px;
}

.dataCard{
    background-color: white;
    height: 450px;
    width: 90%;
    border-radius: 20px;
    box-shadow: gray 0px 4px 12px;
    padding: 20px;
}

.chart-goal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goal-title {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 6px;
  color: var(--text2-color);
}

.goal-value {
  font-size: 40px;
  color: #666;
  margin-bottom: 12px;
}

.goal-progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e5e7eb;
  border-radius: 999px;
  overflow: hidden;
}

.goal-progress-fill {
  height: 100%;
  background: #1F7D53;
  border-radius: 999px;
}

.goal-percent {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #1F7D53;
}


@media (max-width: 1023px){
    .dataCard{
        height: 250px;
    }
}

@media (max-width: 483px){
    .goal-title {
        font-size: 35px;
    }

    .goal-value {
        font-size: 20px;
    }

    .goal-progress-bar {
        height: 18px;
    }

    .goal-percent {
        font-size: 20px;
    }
}