.mobilenav-main{
    display: none;
}

@media (max-width: 767px){
    .mobilenav-main{
        display: flex;
        justify-content: space-around;
        padding: 16px;
        background-color: var(--bg2);
        border-top: 2px solid var(--main-border);
    }

    
    .mobilenav-name{
        font-size: 12px;
        font-weight: 500;
    }

    
    .mobilenav-icon{
        height: 28px;
    }

    .mobilenav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 6px;
        border-radius: 12px;
        cursor: pointer;
        transition: 
            background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        min-width: 65px;
    }

    .mobilenav-list:hover{
        color: var(--primary2-color);
        transform: translateY(-5px);
        opacity: 1.0;
    }

    .mobilenav-list:hover .mobilenav-icon,
    .mobilenav-list:hover .mobilenav-name {
        color: var(--primary2-color);
    }

    .activeText{
        color: var(--primary2-color);
    }

    .NonActive{
        opacity: 0.6;
    }
}