.mobilenav-main{
    display: none;
}

@media (max-width: 767px){
    .mobilenav-main{
        display: flex;
        justify-content: space-around;
        padding: 16px;
        background-color: var(--bg2);
        border-top: 1px solid var(--main-border);
    }

    .mobilenav-list{
        display: flex;
        list-style: none;
        padding: 6px;
        border-radius: 12px;
        cursor: pointer;
        transition: 
            background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .active{
        background-color: var(--hover);
    }

    .mobilenav-icon{
        height: 22px;
    }

    .mobilenav-list:hover{
        background-color: var(--hover);
        color: var(--text-color);
    }
}