.nav-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: 10px 25px 10px 35px;
  border-bottom: 3px solid var(--main-border);
}

.burgerMenu{
  display: none;
}

.nav-top{
  display: flex;
  flex-direction: column;
}

.nav-header{
  font-size: 22px;
  font-weight: 400;
  
}

.nav-date{
  font-size: 16px;
  font-weight: 300;
}

.nav-left{
  display: flex;
}

.nav-sidebarIcon{
  cursor: pointer;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.nav-pfp{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  gap: 8px;
  border-radius: 30px;
  transition: 
      background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-pfp:hover{
  background-color: var(--main-border);
  transform: translateY(-2px);
}

.nav-pfp-info{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.nav-pfp-info-name{
  color: var(--text-color);
  font-size: 20px;
  font-weight: 800;
}

.nav-pfp-info-date{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

.pfp-arrow{
  font-size: 24px;
}

.nav-icon {
  position: relative; /* nav icon is the parent */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-icon:hover{
  transform: translateY(-3px);
  transition: 300ms;
}

.nav-img {
  height: 25px;
}

.noti-badge {
  position: absolute; /* badge is child */
  top: -5px;
  right: -5px;
  min-width: 16px;
  height: 16px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: 600;
  padding: 2px;
  border-radius: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu{
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 20px;
  gap: 8px;         
  border: 2px solid var(--card-border);
}

@media (max-width: 615px){
    .nav-main{
      padding-left: 10px;
    }

    .nav-header{
      font-size: 18px;
    }

    .nav-date{
      font-size: 14px;
    }

    .nav-left{
      gap: 12px;
    }
}

@media (max-width: 767px){
  .nav-left{
    display: none;
  }

  .nav-main{
    justify-content: flex-end;
    align-items: flex-end;
  }
}
