.nav-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: 10px 45px 10px 35px;
  border-bottom: 3px solid var(--main-border);
}

.burgerMenu{
  display: none;
}

.nav-top{
  display: flex;
  flex-direction: column;
}

.nav-header{
  font-size: 22px;
  font-weight: 400;
  
}

.nav-date{
  font-size: 16px;
  font-weight: 300;
}

.nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
}

.nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.nav-pfp{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-pfp:hover{
  transform: translateY(-3px);
  transition: 300ms;
}

.pfp-img{
  height: 45px;
}

.pfp-arrow{
  position: absolute;
  right: -24px;
  top: 60%;
  transform: translateY(-70%);
  font-size: 25px;
}

.nav-icon {
  position: relative; /* nav icon is the parent */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-icon:hover{
  transform: translateY(-3px);
  transition: 300ms;
}

.nav-img {
  height: 25px;
}

.noti-badge {
  position: absolute; /* badge is child */
  top: -5px;
  right: -5px;
  min-width: 16px;
  height: 16px;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: 600;
  padding: 2px;
  border-radius: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 615px){
    .nav-main{
      padding-left: 10px;
    }

    .nav-header{
      font-size: 18px;
    }

    .nav-date{
      font-size: 14px;
    }

    .nav-left{
      gap: 12px;
    }
}

@media (max-width: 767px){
  .burgerMenu{
    display: inline-flex;
    cursor: pointer;
  }
}
