.sidebar {
  background-color: #0E3B2E;
  min-height: 100vh;
  width: 260px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  transition: width 250ms ease;
}

.sidebar-closed{
    width: 100px;
}

.sidebar-top{
    color: var(--text-color);
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px 5px 5px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 35px;
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    font-weight: 600;
}

.sidebar-item:hover{
    background-color: #0B1A17;
    color: var(--text-color);
    transition: 350ms;
}

.item-img{
    height: 25px;
    width: 25px;
    border: none;
}

.sidebar-closed .sidebar-top{
  justify-content: flex-start;
  padding-left: 10px;
}

.sidebar-closed .sidebar-items {
  align-items: center;
  justify-content: center;
}

.sidebar-closed .sidebar-item {
  justify-content: center;
  width: 48px;
}

.sidebar-closed .item-label {
  display: none;
}