.sidebar {
  background-color: var(--bg2);
  min-height: 100vh;
  width: 260px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  transition: width 250ms ease;
}

.sidebar-closed{
    width: 100px;
}

.active{
  background-color: var(--hover);
}

.sidebar-top{
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
    margin-top: 47px;
    padding-left: 8px;
    padding-bottom: 8px;
    gap: 22px;
    border-bottom: 3px solid var(--main-border);
}

.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.nav-logo-name {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
}

.sidebar-items{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 25px;
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    font-weight: 500;
    transition: 
      background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-item:hover{
    background-color: var(--hover);
    color: var(--text-color);
}

.item-img{
    height: 25px;
    width: 25px;
    border: none;
}

.sidebar-closed .sidebar-top{
  justify-content: flex-start;
  padding-left: 10px;
}

.sidebar-closed .sidebar-items {
  align-items: center;
  justify-content: center;
}

.sidebar-closed .sidebar-item {
  justify-content: center;
  width: 48px;
}

.sidebar-closed .item-label {
  display: none;
}

@media (max-width: 767px){
  .sidebar{
    display: none;
  }
}