:root {
  --text-color: #F7F6F2;
  --text2-color: #1F7D53;
  --heading-color: #0B1A17;
  --bg2: #0E3B2E;
  --main-border: #5A5A51;
  --card-bg: white;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #F7F6F2;
}

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.content {
  flex: 1;
  min-width: 0;
  width: 100%;
  overflow-y: auto;
}
