:root {
  --text-color: #F7F6F2;
  --text2-color: #0B1A17;
  --bg2: #0E3B2E;
  --main-border: #5A5A51;
}


*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #F7F6F2;
}

.layout {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;        /* take remaining width */
  min-width: 0; 
  padding: 0;
  margin: 0;
  background: #f5f5f5;
}

.content{
  flex: 1;
}