:root {
  --text-color: #000000;
  --text2-color: #343231;
  --text3-color: #5A5A51;
  --heading-color: #0B1A17;
  --bg1: #fefefe;
  --bg2: #f7f7f8;
  --main-border: #D3D3D3;
  --card-bg: white;
  --hover: #c9cacc;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--bg2);;
}

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 0;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: var(--bg1);
  border: 1px solid var(--main-border);
}

.content {
  flex: 1;
  min-width: 0;
  width: 100%;
  overflow-y: auto;
}
