:root {
  --text-color: #1F1F1F;
  --text2-color: #343231;
  --text3-color: #5A5A51;
  --text4-color: #f7f7f8;
  --heading-color: #0B1A17;
  --bg1: #fefefe;
  --bg2: #f7f7f8;
  --main-border: #D3D3D3;
  --card-bg: #f5f6f8;
  --card-border: #e6e8ec;
  --hover: #c9cacc;
  --btn-color: #3E8EF4;
  --btn-altColor: #88c2cd;
  --success: #16a34a;
  --error: #dc2626;
  --warning: #F59E0B;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--bg2);;
}

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 0;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: var(--bg1);
  border: 1px solid var(--main-border);
}

.content {
  flex: 1;
  min-width: 0;
  width: 100%;
  overflow-y: auto;
}
