:root {
  --text-color: #1F1F1F;
  --text2-color: #343231;
  --text3-color: #5A5A51;
  --text4-color: #f7f7f8;
  --heading-color: #0B1A17;
  --bg1: #fefefe;
  --bg2: #f7f7f8;
  --main-border: #D3D3D3;
  --card-bg: #f5f6f8;
  --card-border: #e6e8ec;
  --hover: #A9CDFB;
  --primary-color: #3E8EF4;
  --primary2-color: #183A7A;
  --primary3-color: #EDF4FF;
  --btn-altColor: #88c2cd;
  --success: #16a34a;
  --error: #dc2626;
  --warning: #F59E0B;

  --font-en: "IBM Plex Sans", Arial, sans-serif;
  --font-ar: "Cairo", Arial, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: var(--font-en);
}

/* When Arabic (RTL) is active */
html[dir="rtl"] body {
  font-family: var(--font-ar);
}

body {
  background-color: var(--bg2);;
}

.divider {
  height: 1px;
  background-color: var(--main-border);
  width: 90%;
}

.dividerPage {
  height: 1px;
  background-color: var(--main-border);
  width: 99%;
}

.layout {
  display: flex;
  height: 100dvh; /*fixes mobile padding issue*/
  overflow: visible; /*fixes mobile padding issue*/
}

.main-content {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-width: 0;
  overflow: hidden;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: var(--bg1);
  border: 1px solid var(--main-border);
}

.content {
  flex: 1;
  min-width: 0;
  width: 100%;
  overflow-y: auto;
}
